<div class="container">
    <div class="header mb-5">
        <div class="header-logo" routerLink='../search'>
            <div class="logo logo-results mx-2">
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
            <div class="logo-text">
                <div class="github my-2">GitHub</div>
                <div class="search text-uppercase">Search</div>
            </div>
        </div>
        <div class="back">
            <i class="fas fa-search" routerLink='../search'></i>
        </div>
    </div>
    <div class="row user mt-5">
        <div class="col-lg-4">
            <img src={ {user.avatar_url}} alt="User Profile Picture" class="profile-pic">
        </div>
        <div class="col-lg-4 profile-details">
            <h2 class="name mb-0 mt-3"><strong><a href="{{ user.html_url }}" target="_blank" rel="noopener noreferrer">{{ user.name }}</a></strong></h2>
            <p class="username"><a href="{{ user.html_url }}" target="_blank" rel="noopener noreferrer">@{{ user.login }} </a></p>
            <p class="updated">Updated {{ user.updated_at }}</p>
            <p>{{ user.bio }}</p>
            <small><i class="fa fa-map-marker" aria-hidden="true"></i>{{ user.location }}</small>
            <div class="det-div">
                <small><i class="fa fa-users" aria-hidden="true"></i>{{ user.following }} following</small>
                <small><i class="fa fa-user-friends" aria-hidden="true"></i>{{ user.followers }} followers</small>
            </div>
            <small><i class="fas fa-calendar"></i>{{ user.created_at }}</small>
        </div>