<div class="container">
    <div class="row text-center">
        <div class="title">
            <div class="logo">
                <img src="../../../assets/logo.png" class="my-4">
            </div>
            <div class="github my-4">
                <p>GitHub<br>Search</p>
            </div>
        </div>
        <div class="form" (ngSubmit)="startSearch()">
            <form>
                <div class="my-4">
                    <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username" placeholder=" Enter Username" (focus)='hideAlert()' required/>
                    <div class="text-danger alert" *ngIf='isEmpty'>Please enter a username to search.</div>
                    <button type="submit" class="btn text-uppercase my-3">
                       Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>